/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29 Mar 2017, 5:31:41 PM
    Author     : tomert
*/

/*
body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding:20px;
  font-size : 12px;
  padding-top: 5px;
}
*/

body{
    padding-left:10px;
    height: 98vh;
    width: 98vw;
}

/*******************************  GRID LAYOUT ***********************************/

.grid-container {
  display: grid;
  grid-template-rows: (30px,30px,200px,600px,200px);
  grid-template-columns: repeat(20,1fr);

  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: start;
  padding: 1px 0;
  font-size: 12px;
  border: solid 0.5px lightblue;
  border-radius:5px;
}

/* layout */
.grid-navbar{
   grid-column : 1/-1
}

.grid-collapse-params{
    grid-area: 2/1/3/-1
}

.grid-collapse-strategy
{
    grid-area: 2/1/3/-1
}

.grid-start-stop-btn{
    grid-area : 4/1/5/6;
    justify-self: start;
    align-self:start;
    margin-top: -63px;

}
.grid-chart-info{
    grid-area : 4/1/5/8;
    justify-self: start;
    align-self:end;
}
.grid-wallet_progress{
    /*grid-area : 4/10/5/14;*/
    display:flex;
    grid-column : 8/17;
    justify-self: center;
    align-self:end;
    margin-top: -30px;
        padding: 6px 70px;
}
.grid-sharpe-title{
    grid-column : 16/20;
    justify-self: center;
    align-self:end;
}
.grid-symbol-chart{
    grid-column : 1/8;
    justify-self: strech;
    align-self:strech;
    margin-top: -50px;
    height:300px;
    margin-top: -38px;
}
.grid-wallet-chart{
    grid-column : 8/17;
    justify-self: strech;
    align-self:strech;
    margin-top:-10px;
}
.grid-sharpe-chart{
    grid-column : 17/21;
    justify-self: strech;
    align-self:strech;
    margin-top:-50px;
}
.grid-symbol-chart-secondary{
    grid-column : 1/8;
    justify-self: strech;
    align-self:strech;
    margin-top: -231px;
    margin-left: 10px;
    height:300px;
}
.grid-chart_buy-sell_buttons{
    grid-column : 1/8;
    justify-self: start;
    margin-top:-30px;
}
.grid-balance{
    grid-column : 8/17;
    justify-self: end;
    align-self:start;
    margin-top: -30px;
}
.grid-transactions{
    grid-column : 1/21;
}
.grid-log{
    grid-column : 1/16;
    height: 800px;
}
.grid-stats{
    grid-column : 16/21;
    height: auto;
}


/****************************************END GRID LAYOUT***************************************/

/***********************************  object design ******************************************/
#progress li {
  display: inline-block;
  text-align: center;
  margin-right: 60px;
}

#progress ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#progress {
    padding-left: 42px;
    padding-bottom: 10px;
        margin-top: 6px;
    margin-bottom: -8px;
}

.progressBlock {
    width: 40%;
    height: 30%;
    margin-bottom:5px;
    margin-left: 25px;
}

#progress i {
  font-size: 13px;
}

#progress{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progress{
    width:25%;
    margin-bottom:1px;
}

#chart{
    position:relative;
}

#chart > div{
    position: absolute;
    left: 10px;
    top: 10px;
}

#chartSecondary{
    position:relative;
}

#chartSecondary > div{
    position: absolute;
    left: 10px;
    top: 10px;
}

#chartSecondary > #tfChart{
    position: absolute;
    top: 0;
    right: 0;
}


#wallet_container{
    height:500px;
}

h6{
    float:left;
}

.grid-log > h3{
    float:left;
}
.grid-stats > h3{
    float:left;
}

#sharpe_title{
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    display: flex;
 }

/************************************End object design *************************************/

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-btn {
    float: left;
}

.container {
    margin-left:0px;
}

#engineButtons{
    margin:5px;
}

#chartbutton{
    margin-top :10px;
}

/*

#stockInfo {
    position: relative;
        width: 100%;
        padding-bottom: 5px;
}
*/



#algoProgress {
    width:100%;
    height:100%
}

.row{
    margin-bottom: 10px;
}

table {
    height: 100%;
    margin-left: 2px;
}

div.scroll {
  background-color: white;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#wallet {
    position:relative;
    width: 100%;
    height: 452px;
}

#log{
    height: 729px;
}



/*
table.tv-lightweight-charts {
    width:100% important!;
}


.waletClass table{
    width : 100%
}
*/
.well{
    position:relative;
}

.icon {
  position: absolute;
  top: 4px;
  right: 4px;
}

.tooltip {
  pointer-events: none;
  max-width:100% important!;
}

#balance{
    width: auto;
    height: 30px;
    border: solid 0.5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    padding:2px;
}


#transactions{
    margin-bottom:5px;
}

#algoProgress h4 {
    margin-top: -9px;
    padding-right: 4px;
    margin-right: 4px;
    padding-top: 6px;
}


/*   HIGH CHART  */
.highcharts-figure,
.highcharts-data-table table {
   /* min-width: 310px; */
    max-width: 500px;
    margin: 1em auto;

}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#hcGuages {
    width: 278px;
    margin: 0px;
    float: right;
}

#tickerHC{
    border: solid 0.3px grey;
    border-radius:5px;
    margin-bottom:3px;
}
#benchmarkHC{
    border: solid 0.3px grey;
    border-radius:5px;
}

#flex-row{
display:flex;
margin:4px;
}

.flex-item {
    margin: 2px;
}

select{
height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alert-success {
    width : 300px;
    height : auto;
    position:absolute;
    top:580px;
    right:0px;
    background: white;
}

.strategy,.strategy_p{
    width: 90vw;
    min-height: 80px;
    background: white;
    border: solid 0.5px grey;
    border-radius: 10px;
    margin: 5px;
}

#reset_strategy{
    float:right;
    margin-right: 20px;
}


.title{
    font-weight: 700;
    display: block;
    margin-left: 6px;
    font-size: large;
    color: mediumpurple;
    padding:6px;
}


#divStats {
    height: 939px;
}


#timeFrame2{
    margin-bottom:12px;
}

.form-inline {
    margin: 10px ;
}

#buy_conditions.form-inline{
    margin: 3px ;
}

#buyOrder{
    background-color: #45ad27;
}

#sellOrder{
    background-color: #f72b2b;
}

#sell_conditions > p{
    margin: 9px 10px;
    color: red;
}

.invalid-feedback{
    color:red;
}

.twilio{
    width:300px important!;
}



/*remove arrow from input type numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* chatroom */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: #dff3ce;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 65vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;


}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
    border: solid 1px blue;
      margin-right:3px;
      border-radius:4px;
      backgroud-color: yellow;
      border: solid 0.5px blue;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}

#chart_symbol{
    margin-left:2px;
}

#crTitle{
    display:flex;
    justify-content: space-between;
}


/*   TO BE DELETED

#crTitle{


-----------------------------------------------------------------------*/