{% extends "layout.html" %}
{% block content %}
    <script>
        var _ip, _city, _country, _loc, _postal,_region, _timezone, _country_code,_country_calling_code;

    fetch('https://api.ipify.org?format=json')
      .then(response => response.json())
       .then(data => {
<!--             console.log(data.ip);-->
             _ip = data.ip;
             return fetch("https://ipapi.co/"+data.ip+"/json/"); // make a 2nd request and return a promise
       })
        .then(response => response.json())
        .then(data => {
                _city = data.city;
                _country = data.country_name;
                _loc = data.latitude+"/"+data.longitude;
                _postal = data.postal;
                _region = data.region;
                _timezone = data.timezone;
                _country_code = data.country_code;
                _country_calling_code = data.country_calling_code;
                console.log(_ip,_city,_country,_postal,_region,_loc,_timezone,_country_code);
                $("#ip").val('{"ip":"'+_ip+'","city":"'+_city+'","country":"'+_country+'","country_code":"'+_country_code+'","country_calling_code":"'+_country_calling_code+'","loc":"'+_loc+'","postal":"'+_postal+'","region":"'+_region+'","cuontry":"'+_country+'","cuontry_code":"'+_country_code+'","timezone":"'+_timezone+'"}');
        })
    </script>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <div class="form-group" >
                    {{ form.ip.label(class="form-control-label") }}
                    {{ form.ip(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>

        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}